body, html {
    background-color: rgb(240, 240, 240);
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    -webkit-box-shadow: 0 0 15px 10px rgba(181,181,181,1);
    -ms-box-shadow: 0 0 15px 10px rgba(181,181,181,1);
    box-shadow: 0 0 15px 10px rgba(181,181,181,1);
    padding: 0 100px;
    margin: 10px auto 30px auto;
}

div {
    /*border: 1px solid red;*/
    background-color: white;
}

.header {
    height: 80px;
}

.left {
    background-color: #add8e6;
    /*border-right: 1px solid #add8e6;*/
}

.right {
    text-align: right;
}

.upmost {
    padding-top: 15px;
}

.downmost {
    padding-bottom: 50px;
}

.important {
    font-weight: 700;
}

.smallArticle {
    margin-bottom: 15px;
}

.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color: #add8e6;
    /*border-right: 2px solid #add8e6;*/
}

.col-main-right {
    border-right: none;
}

.col-wrap{
    overflow: hidden; 
}

.custom-header {
    font-style: italic;
}

.subtitle {
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}
