body, html {
    background-color: rgb(240, 240, 240);
}

img {
    width: 100%;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    box-shadow: 0 0 15px 10px rgba(181,181,181,1);
    padding: 0 100px;
    margin: 10px auto 30px auto;
}

div {
    /*border: 1px solid red;*/
    background-color: white;
}

.header {
    height: 80px;
}

.left {
    background-color: lightblue;
}

.upmost {
    padding-top: 15px;
}

.downmost {
    padding-bottom: 50px;
}

.important {
    font-weight: 700;
}

.smallArticle {
    margin-bottom: 15px;
}

.body {
  height: auto;
    position: relative;
}

.left-side {
  height: 100%;
}

/*.right-side {
  height: 100%;
}*/

@media (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}
